body {
  font-family: 'Open Sans', sans-serif;
  background-image: url("https://newevolutiondesigns.com/images/freebies/city-wallpaper-47.jpg");
}

h1 {
  font-size: 92px;
  padding: 80px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #ffffff;
}

.field {
  display:flex;
  position:relative;
  margin:5em auto;
  width:70%;
  flex-direction:row;
  border-radius: 1em;
}

.field>input[type=text],
.field>button {
  display:block;
  font-size: 1em;
}

.field>input[type=text] {
  flex: 1;
  padding: 0.6em;
  border: 0.2em solid rgb(26, 188, 156);
}

.field>button {
  padding: 0.6em 0.8em;
  background-color: rgb(26, 188, 156);
  color: white;
  border: none;
}

#searchform {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#mentions-container, #sentiments-container {
  width: 60%;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  border: 0.2em solid rgb(26, 188, 156);
  font-size: 85%;
}

#sentiments-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.line {
    fill: none;
    stroke: navy;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.axis {
    fill: solid;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

svg
{
  stroke-width: 3px;
}

#mentions-graph, #sentiments-graph {
  padding-top: 15px;
}

.xAxis path, .yAxis path
{
  stroke: #474747;
  fill: none;
}

path.plot {
  stroke: #FFA319;
}
